# TP2 - EDA : Analyse Exploratoire

Démonstration de l'API pour la phase eda

In [1]:
import requests
import pandas as pd
import json

BASE_URL = 'http://api:8000'
print('✅ Prêt à utiliser l\'API')

✅ Prêt à utiliser l'API

## Générer un dataset pour eda

In [2]:
response = requests.post(
    f'{BASE_URL}/dataset/generate',
    json={
        'phase': 'eda',
        'seed': 42,
        'n': 1000
    }
)
data = response.json()
dataset_id = data['meta']['dataset_id']
print(f'Dataset ID: {dataset_id}')
df = pd.DataFrame(data['result']['data_sample'])
df.head()

Dataset ID: eda_42_1000

  age              income               spend visits segment channel churn
0  47  111244.34299681778   469.0701816005038      5       A     web     0
1  37   76092.64928379758   743.4845769533276      7       B   store     1
2  49   38089.89473703976  111.24024763983903      5       C     app     1
3  62   21643.28617258559   978.7353895695567      2       A   store     0
4  36                  NA  1335.4185530703542      6       C     web     0

## Consulter la documentation interactive

Ouvrez http://localhost:8000/docs pour tester tous les endpoints de manière interactive.